@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #191919;
}

a.active p{
    color: #7ABB40;
}

a.active li{
    background: #1F2937;
}

a.active h1{
    background-color: #7ABB40;
    color: #191919;
}

.main123:hover .clr{
    color: black;
}

@media screen and (max-width:400px) {
    iframe{
        width: auto;
    }
}